/* goolge fonts에서 폰트 고른 후 @import->style태그 제외 후 복사 붙여넣기   */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  /* 여기에 CSS rules to specify families 코드를 복사 붙여넣기*/
  font-family: 'Ysabeau Office', sans-serif;
}

button{
  font-family: 'Ysabeau Office', sans-serif;
  text-transform: uppercase;
  border: 0;
  padding: 0.5rem, 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:active{
  box-shadow: 0 0 0 3px  hsl(189, 100%, 45%);
}

button#start{
  background-color: hsl(189, 100%, 45%);
  color: white;
}

.number{
  font-size: 3rem;
  font-weight: 900;
}

#app{
  padding: 1rem;
}
