.wrapper{
  width: 1200px;
  margin: 0 auto;
  font-size: 36px;
}

.header{
  display: flex;
  height: 100px;
  background-color: aquamarine;
}

.left-box{
  width: 200px;
  height: 500px;
  display: flex;
  align-items: end;
  background-color: cornflowerblue;
}

.right-box{
  width: 100px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  background-color: coral;
}

.footer{
  width: 1200px ;
  height: 200px  ;
  background-color: lightgreen;
  display: flex;
  align-items: end;
}