* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block ;
}

a {
  text-decoration: none;
  color: #fff;
}

.gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery-box li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: 0 5px;
}

.main-box a {
  background-color: darkslateblue;
  transition: 200ms ease-in-out;
}

.main-box a:hover {
  background-color: #fff;
  color: darkslateblue;
  border: 2px solid darkslateblue;
}

.gallery-box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}


.slide-overlay {
  /* display: none; */
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
} 

.title-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding: 20px 20px;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  font-size: 25px;
}

.title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title-list img {
  border-radius: 25px;
  width: 90%;
  height: 250px;
  object-fit: cover;
}

.title-list p {
  padding: 20px;
}

.sub-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.title-img img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}